body {
    height: 100%;
    width: 100%;
    position: absolute;
}

#main {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
}

#chart {
    flex-grow: 1;
}

svg {
    position: absolute
}