<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}">
	<style>
		body {
			height: 100%;
			width: 100%;
			position: absolute;
		}

		#main {
			display: flex;
			flex-flow: column;
			height: 100%;
			position: relative;
		}

		#chart {
			flex-grow: 1;
		}

		svg {
			position: absolute;
		}

		text {
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			text-anchor: middle;
			font-size: 10px;
			font-weight: bolder;
			fill: black;
			text-shadow: 0px 0px 2px white;
		}

		line {
			stroke-width: 1;
		}

		.path_link line {
			stroke-width: 2;
		}

		@keyframes blink {
			0% {
				opacity: .1;
			}
			20% {
				opacity: 1;
			}
			100% {
				opacity: .2;
			}
		}

		.waiting span {
			animation-name: blink;
			animation-duration: 1.4s;
			animation-iteration-count: infinite;
			animation-fill-mode: both;
		}

		.waiting span:nth-child(2) {
			animation-delay: .2s;
		}

		.waiting span:nth-child(3) {
			animation-delay: .4s;
		}
	</style>
</head>

<body class="bg-light">

	<div id="main">
		<div id="header" class="py-1 text-center">
			<h1>Graphical Web Crawler - Grus</h1>
			<p class="lead" id="headerText"></p>
			<p class="text-muted" id='node_counter'></p>
			<a id="newCrawl" class="btn btn-primary" href="/" role="button" style="display: none;">New Crawl</a>
			<div id="toggle_unvisited" class="btn-group btn-group-toggle" data-toggle="buttons" style="display: none;">
				<label class="btn btn-info active">
					<input type="radio" id="hide" autocomplete="off"> Hide Unvisited
				</label>
				<label class="btn btn-info">
					<input type="radio" id="show" autocomplete="off"> Show Unvisited
				</label>
			</div>
			<div id="toggle_titles" class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" id="hide" autocomplete="off"> Hide Titles
				</label>
				<label class="btn btn-info">
					<input type="radio" id="show" autocomplete="off"> Show Titles
				</label>
			</div>
		</div>
		<div id="chart"></div>
	</div>

	<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/d3.min.js') }}"></script>
	<script>
		// load inital header for visualizer page
		function loadInitialHeader() {

			$("#headerText").addClass("waiting")
				.text(
					"Performing a {{ 'breadth' if type == 'bfs' else 'depth' }}-first search on '{{ url }}'{% if keyword %} for the word '{{keyword}}'{% endif %}"
				)
				.append("<span>.</span>").append("<span>.</span>").append("<span>.</span>");
		}

		// header to display previously stored crawl
		function loadPrevHeader() {
			$("#newCrawl").show();
			$("#toggle_unvisited").show();

			var timeStamp = new Date(parseInt("{{ docId }}".substring(0, 8), 16) * 1000);

			$("#headerText").html(
				"{{ 'Breadth' if type == 'bfs' else 'Depth' }}-first search on '{{ url }}'{% if keyword %} for the word '{{keyword}}' which was {{ 'found' if found == True else 'not found' }}.{% endif %}<br>" +
				timeStamp);
		}

		// change header to display end of crawl and elapsed time
		function updateHeader(searchTime, found = false) {
			$("#newCrawl").show();
			$("#toggle_unvisited").show();

			$("#headerText").html(
				"{{ 'Breadth' if type == 'bfs' else 'Depth' }}-first search on '{{ url }}'{% if keyword %} for the word '{{keyword}}'{% endif %} completed in " +
				searchTime.toFixed(2) +
				" seconds{% if keyword %}<br>Keyword '{{ keyword }}' " + ("{{ keyword }}" && !found ? "not " : "") +
				"found.{% endif %}").removeClass("waiting");
		}


		var margin = {
			top: 10,
			right: 15,
			bottom: 10,
			left: 15
		};

		var width = 425 - margin.left - margin.right;
		var height = 625 - margin.top - margin.bottom;

		var dataset = {
			nodes: [],
			links: []
		};
		var show_unvisited = false;
		var show_titles = false;
		var max_depth = 0;

		// Toggle the grey nodes
		$("#toggle_unvisited :input").click(function() {
			$("#toggle_unvisited label").removeClass("active");
			$(this).parent().addClass("active");
			if ($(this).attr("id") == "hide" && show_unvisited == true) {
				show_unvisited = false;
				update();
			} else if ($(this).attr("id") == "show" && show_unvisited == false) {
				show_unvisited = true;
				update();
			}
		});

		// Toggle the titles
		$("#toggle_titles :input").click(function() {
			$("#toggle_titles label").removeClass("active");
			$(this).parent().addClass("active");
			if ($(this).attr("id") == "hide" && show_titles == true) {
				show_titles = false;
				update();
			} else if ($(this).attr("id") == "show" && show_titles == false) {
				show_titles = true;
				update();
			}
		});


		// Create the svg where the visualization will reside
		var svg = d3.select('#chart')
			.append('svg')
			.attr('width', width + margin.left + margin.right)
			.attr('height', height + margin.top + margin.bottom)
			.call(responsivefy)
			.call(d3.zoom().on("zoom", function() {
				svg.attr("transform", d3.event.transform)
			}))
			.append('g')
			.attr('transform', `translate(${margin.left}, ${margin.top})`);

		// Create the force simulation that governs the forces on the nodes
		var simulation = d3.forceSimulation()
			.force("link", d3.forceLink().id(d => d.url).distance(d => d.in_path ? 100 : 30))
			.force("charge", d3.forceManyBody().distanceMax(400))
			.force("center", d3.forceCenter(width / 2, height / 2))
			//.force("collide", d3.forceCollide(d => d.visited ? 30 : 0))
			.on("tick", ticked);

		// Create arrows to show directionality
		var mark = svg.append("svg:defs")
			.attr("class", "markers")
			.selectAll("marker");

		// A selection of all of the visual representations of the links
		var link = svg.append("g")
			.attr("class", "links")
			.selectAll("line");

		// A selection of all of the visual representations of the sites
		var node = svg.append("g")
			.attr("class", "nodes")
			.selectAll("circle");

		// A selection of all of the visual representations of the links in the path
		var path_link = svg.append("g")
			.attr("class", "path_link")
			.selectAll("line");

		// A selection of all of the visual representations of a node where the keyword was found
		var found_node = svg.append("g")
			.attr("class", "found_node")
			.selectAll("circle");

		// A selection of all of the visual representations of the sites in the path
		var path_node = svg.append("g")
			.attr("class", "path_node")
			.selectAll("circle");

		// A selection of all of the visual representations of the site names
		var title = svg.append("g")
			.attr("class", "titles")
			.selectAll("text");



		/**
		 * Reformat data from the server to fit the format of the visualization
		 *
		 * @param {*} json_data Json data from the server
		 */
		function parse_data(site) {
			site.visited = true;
			if (site.depth > max_depth) max_depth = site.depth;

			// See if this visited site is already in our list of sites
			var old_site = undefined;
			var nodes_len = dataset.nodes.length;
			for (var i = 0; i < nodes_len; i++) {
				if (dataset.nodes[i].url == site.url) {
					old_site = dataset.nodes[i];
					break;
				}
			}

			if (old_site) {
				// Update node properties if this site was already found
				for (var prop in site) {
					old_site[prop] = site[prop];
				}
			} else {
				// This is a new site, add it to the dataset (only happens on the first site)
				dataset.nodes.push(site);
			}

			// Mark the link from the site's parent to the site as in the path of
			// visited nodes. This link should already exist because it would have been
			// in the parent's links
			if (site.parent) {
				if (show_unvisited) {
					// If we are showing the unvisited links, they will have been passed to
					// d3js to link to their respective nodes. Therefore, a simple <url>
					// will have been convered to the node object, and the url is a property
					// of source and target
					var links_len = dataset.links.length;
					for (var i = 0; i < links_len; i++) {
						if (dataset.links[i].source.url == site.parent && 
							dataset.links[i].target.url == site.url) {
								dataset.links[i].in_path = true;
								break;
							}
					}
				} else {
					// If we are not showing the unvisited links, source and target have 
					// not been touched by d3js and are still their respective urls
					var links_len = dataset.links.length;
					for (var i = 0; i < links_len; i++) {
						if (dataset.links[i].source == site.parent && 
							dataset.links[i].target == site.url) {
								dataset.links[i].in_path = true;
								break;
							}
					}
				}
			}

			// Add links to ones found on pages
			var links_len = site.links.length;
			for (var i = 0; i < links_len; i++) {
				var href = site.links[i];

				// Find out if this url has been found on another page
				var found = false;
				var nodes_len = dataset.nodes.length;
				for (var j = 0; j < nodes_len; j++) {
					if (dataset.nodes[j].url == href) {
						found = true;
						break;
					}
				}

				// If this is a new url, add it to our list of nodes
				if (!found) {
					dataset.nodes.push({
						url: href,
						cx: 0,
						cy: 0
					});
				}

				// Add a link from our visited site to this found url
				dataset.links.push({
					source: site.url,
					target: href,
					depth: site.depth,
					in_path: false
				});
			}

			// Update the dataset with svg properties
			old_sites = d3.selectAll('circle').data();
			old_links = d3.selectAll('line').data();
			var old_site_len = old_sites.length,
				old_site_len = old_links.length;

			for (var i = 0; i < old_site_len; i++) {
				var nodes_len = dataset.nodes.length;
				for (var j = 0; j < nodes_len; j++) {
					if (dataset.nodes[j].url == old_sites[i].id) {
						["cx", "cy"].forEach(prop => dataset.nodes[j][prop] = old_sites[i][prop]);
					}
				}
			}

			// Needed?????
			// old_links.forEach(line => {
			// 	var dataset_link = dataset.links.find(el => el.source + "-" + el.target == line.id);
			// 	if (dataset_link)
			// 		["x1", "y1", "x2", "y2"].forEach(prop => dataset_link[prop] = circle[prop]);
			// })

			update();
		}
		/**
		 * Sets the data used for the visualization
		 *
		 * @param {*} data Object containing the nodes and links to use for the viz
		 */
		function update() {

			// Prep the data
			var unvisited_nodes = [],
				unvisited_links = [],
				visited_nodes = [],
				visited_links = [],
				keyword_node = [];

			var nodes_len = dataset.nodes.length,
				links_len = dataset.links.length;

			for (var i = 0; i < nodes_len; i++) {
				if (dataset.nodes[i].visited) {
					visited_nodes.push(dataset.nodes[i]);
				} else if (show_unvisited) {
					unvisited_nodes.push(dataset.nodes[i]);
				}
				if (dataset.nodes[i].found) {
					keyword_node.push(dataset.nodes[i]);
				}
			}

			for (var i = 0; i < links_len; i++) {
				if (dataset.links[i].in_path) {
					visited_links.push(dataset.links[i]);
				} else if (show_unvisited) {
					unvisited_links.push(dataset.links[i]);
				}
			}

			var counter_text = "Unique Sites: " + dataset.nodes.length +
								" - Visited Sites: " + visited_nodes.length +
								" - Links: " + dataset.links.length;
			$("#node_counter").text(counter_text);

			// Update the markers
			d3.selectAll("marker").remove();

			mark.data(["out_of_path"].concat([...Array(max_depth).keys()]))
				.enter().append("svg:marker")
				.attr("id", d => "marker_" + d)
				.attr("viewBox", "0 -5 10 10")
				.attr("refX", 15)
				.attr("refY", 0)
				.attr("markerWidth", d => d == "out_of_path" ? 0 : 4)
				.attr("markerHeight", d => d == "out_of_path" ? 0 : 4)
				.attr('fill', d => d == "out_of_path" ? "#000" : color(d))
				.attr("orient", "auto")
				.append("svg:path")
				.attr("d", "M0,-5L10,0L0,5");


			// Update links
			link = link.data(unvisited_links, d => d.source.url + "-" + d.target.url)
				.attr("marker-end", d => "url(#marker_ou_of_path)")
				.attr("stroke", "#ccc");

			// Delete removed links
			link.exit().remove();

			// Add any new links
			link = link.enter().append("line").merge(link)
				.attr("marker-end", d => "url(#marker_ou_of_path)")
				.attr("stroke", "#ccc");


			// Update nodes
			node = node.data(unvisited_nodes, d => d.url)
				.attr("fill", "#ccc")
				.attr("r", 3);

			// Delete removed sites
			node.exit().remove();

			// Add any new sites
			node = node.enter().append("circle")
				.attr("fill", "#ccc")
				.attr("r", 3)
				.on("click", d => window.open(d.url))
				.call(d3.drag()
					.on("start", drag_started)
					.on("drag", dragged)
					.on("end", drag_ended))
				.merge(node);

			// Show URL on hover
			node.append("title")
				.text(d => d.url);

			// Update links
			path_link = path_link.data(visited_links, d => d.source.url + "-" + d.target.url)
				.attr("marker-end", d => "url(#marker_" + d.depth + ")")
				.attr("stroke", d => color(d.depth));

			// Delete removed links
			path_link.exit().remove();

			// Add any new links
			path_link = path_link.enter().append("line")
				.attr("stroke", d => color(d.depth))
				.attr("marker-end", d => "url(#marker_" + d.depth + ")")
				.merge(path_link);


			// Update nodes
			path_node = path_node.data(visited_nodes, d => d.url)
				.attr("fill", d => color(d.depth))
				.attr("r", 5);

			// Delete removed sites
			path_node.exit().remove();

			// Add any new sites
			path_node = path_node.enter().append("circle")
				.attr("fill", d => color(d.depth))
				.attr("r", 5)
				.on("click", d => window.open(d.url))
				.call(d3.drag()
					.on("start", drag_started)
					.on("drag", dragged)
					.on("end", drag_ended))
				.merge(path_node);

			// Show URL on hover
			path_node.append("title")
				.text(d => d.url);

			// Update nodes
			found_node = found_node.data(keyword_node, d => d.url)
				.attr("fill", d => color(d.depth))
				.attr("opacity", .25)
				.attr("r", 15);

			// Delete removed sites
			found_node.exit().remove();

			// Add any new sites
			found_node = found_node.enter().append("circle")
				.attr("fill", d => color(d.depth))
				.attr("opacity", .25)
				.attr("r", 15)
				.on("click", d => window.open(d.url))
				.call(d3.drag()
					.on("start", drag_started)
					.on("drag", dragged)
					.on("end", drag_ended))
				.merge(found_node);

			// Update titles
			title = title.data(show_titles ? visited_nodes : [], d => d.url)
				.text(d => d.title);

			// Delete removed sites
			title.exit().remove();

			// Add any new sites
			title = title.enter().append("text")
				.text(d => d.title)
				.on("click", d => window.open(d.url))
				.call(d3.drag()
					.on("start", drag_started)
					.on("drag", dragged)
					.on("end", drag_ended))
				.merge(title);

			// Show URL on hover
			title.append("title")
				.text(d => d.url);

			// Set the nodes and links for the visualization
			simulation.nodes(show_unvisited ? dataset.nodes : visited_nodes);
			simulation.force("link").links(show_unvisited ? dataset.links : visited_links);
			simulation.alpha(0.3).restart();
		}

		function color(depth) {
			return "hsl(" + (360 / (max_depth + 1) * depth) + ", 55%, 65%)";
		}

		function ticked() {
			link.attr("x1", d => d.source.x)
				.attr("y1", d => d.source.y)
				.attr("x2", d => d.target.x)
				.attr("y2", d => d.target.y);

			node.attr("cx", d => d.x)
				.attr("cy", d => d.y);

			path_link.attr("x1", d => d.source.x)
				.attr("y1", d => d.source.y)
				.attr("x2", d => d.target.x)
				.attr("y2", d => d.target.y);

			path_node.attr("cx", d => d.x)
				.attr("cy", d => d.y);
			
			found_node.attr("cx", d => d.x)
				.attr("cy", d => d.y);

			title.attr("x", d => d.x)
				.attr("y", d => d.y);
		}

		function drag_started(d) {
			if (!d3.event.active) simulation.alphaTarget(0.3).restart();
			d.fx = d.x;
			d.fy = d.y;
		}

		function dragged(d) {
			d.fx = d3.event.x;
			d.fy = d3.event.y;
		}

		function drag_ended(d) {
			if (!d3.event.active) simulation.alphaTarget(0);
			d.fx = null;
			d.fy = null;
		}

		function responsivefy(svg) {
			var container = d3.select(svg.node().parentNode),
				width = parseInt(svg.style("width")),
				height = parseInt(svg.style("height"));

			svg.attr("viewBox", "0 0 " + width + " " + height)
				.call(resize);

			d3.select(window).on("resize." + container.attr("id"), resize);

			function resize() {
				var target_width = parseInt(container.style("width"));
				var target_height = parseInt(container.style("height"));
				svg.attr("width", target_width);
				svg.attr("height", target_height);
			}
		}

		// If there is a data property sent in the response from the server,
		// Use that as the source for data
		var data = {{data|tojson}};
		if (data) {
			loadPrevHeader();
			var len = data.length;
			for (var i = 0; i < len; i++) {
				parse_data(JSON.parse(data[i]));
			}
		} else {

			// load header
			loadInitialHeader();

			// Set up the location of the host websocket
			var scheme = window.location.protocol == 'https:' ? 'wss://' : 'ws://';
			var host = scheme + location.host + "/crawl";
			create_socket(host);

			// Start up the client websocket
			function create_socket(hostname) {
				var ws = new WebSocket(hostname);
				var startTime;
				var found = false;

				ws.onmessage = function(event) {
					parsed = JSON.parse(event.data);
					parse_data(parsed);
					if (parsed.found) {
						found = true;
					}
				};

				ws.onopen = function() {
					startTime = Date.now();
					console.log("Socket Connected");
				};

				ws.onerror = function() {
					console.log("Socket Error: " + event.code);
				};

				ws.onclose = function(event) {
					updateHeader((Date.now() - startTime) / 1000.0, found);
					console.log("Socket Closed: " + event.reason);
					console.log("Close Code: " + event.code);
					//setTimeout(reconnect(hostname), 1000);
				};
			}

			function reconnect(hostname) {
				console.log("Reconnecting....");
				create_socket(hostname);
			}

		}
	</script>
	</body>

</html>
